<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Intelligent Transportation System</title>
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
  </head>
  <body>
    <div class="a">
      <h1>COMP4442 Project</h1>
    </div>

    <div class="b"></div>
    <div class="c">
      <h1>Intelligent Transportation System</h1>

      <button type="button" onclick="window.location.href='/summary'">
        Summary of Driving Behaviours
      </button>

      <br /><br /><br />

      <button type="button" onclick="window.location.href='/monitor'">
        Real Time Speed Monitor
      </button>
    </div>

    <div class="b"></div>

    <div class="a">
      <p>
        This intelligent transportation system (including the webpage) is
        developed by Lu Xinyue, Lu Yulong, Kong Yifei, and Wang Meng. Illegal
        copy and spread of the contents in this webpage may be unlawful.
      </p>
    </div>
  </body>
</html>
